extends layout 

block content 
    h1= title
    p= itemDoc.description
    p Category: #[a(href=itemDoc.category.url) !{itemDoc.category.name}]
    p Price: £!{itemDoc.price}
    p Number in stock: !{itemDoc.numberInStock}

    p
        a(href=itemDoc.url + "/delete") Delete category
    p
        a(href=itemDoc.url + "/update") Update category